.latest-arrivals-section {
  @apply container mx-auto px-4 md:px-12 lg:px-24 overflow-hidden;
}

.latest-arrivals-section__title {
  @apply text-xl font-semibold mb-4;
  position: relative;
  padding-bottom: 1.5rem; /* Space between title text and underline */
}

.latest-arrivals-section__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  /* Adjusted width for "LATEST ARRIVALS" */
  background: linear-gradient(to right, #3a57fd 170px, #d1d5db 170px);
}